services:
  emqx:
    image: emqx/emqx:5.7.2
    container_name: emqx_windfarm
    restart: unless-stopped
    ports:
      - "1883:1883"     # MQTT (sin TLS)
      - "8883:8883"     # MQTT (TLS)
      - "8083:8083"     # MQTT sobre WebSocket (sin TLS)
      - "8084:8084"     # MQTT sobre WebSocket (TLS)
      - "18083:18083"   # Dashboard web
    networks:
      - windfarm_net

  mongo:
    image: mongo:latest
    container_name: mongo_windfarm
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - windfarm_net

  simulator:
    build:
      context: .
      dockerfile: python.Dockerfile
    container_name: windfarm_simulator
    command: python -m TurbineTelemetry.main
    depends_on:
      - emqx
    environment:
      # El host del broker es el nombre del servicio 'emqx'
      - MQTT_BROKER_HOST=emqx
    networks:
      - windfarm_net

  statnode:
    build:
      context: .
      dockerfile: python.Dockerfile
    container_name: windfarm_statnode
    command: python -m StatNode.main # Usaremos un nuevo main.py
    depends_on:
      - emqx
      - mongo
    environment:
      # El host del broker es el nombre del servicio 'emqx'
      - MQTT_BROKER_HOST=emqx
      # La URI de mongo apunta al servicio 'mongo'
      - MONGO_URI=mongodb://mongo:27017
    networks:
      - windfarm_net

  frontend_debugger:
    build:
      context: .
      dockerfile: python.Dockerfile
    container_name: windfarm_frontend_debugger
    command: python -m StatNode.debug_client
    depends_on:
      - emqx
    environment:
      - MQTT_BROKER_HOST=emqx
    networks:
      - windfarm_net

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    container_name: windfarm_frontend
    ports:
      # Mapea el puerto 8080 de tu máquina al puerto 80 del contenedor Nginx
      - "8080:80"
    env_file:
      - .env.frontend
    depends_on:
      - emqx # Asegura que el broker inicie antes, aunque la conexión es desde el navegador.
    networks:
      - windfarm_net
networks:
  windfarm_net:
    driver: bridge

volumes:
  mongo_data: