version: "3.8"

services:
  emqx:
    # 1. Ajuste clave: 
    build:
      context: ./emqx_config
      dockerfile: emqx.Dockerfile
    image: emqx_windfarm_custom
    container_name: emqx_windfarm
    restart: unless-stopped
    ports:
      - "1883:1883"    # MQTT
      - "8883:8883"    # MQTT (TLS)
      - "8083:8083"    # MQTT sobre WebSocket
      - "8084:8084"    # MQTT sobre WebSocket (TLS)
      - "18083:18083"  # Dashboard web
    volumes:
      # Mantenemos volúmenes para datos y logs, pero NO para la configuración 'etc'.
      # La configuración ahora está dentro de la imagen 'emqx_windfarm_custom'.
      - emqx_data:/opt/emqx/data
      - emqx_log:/opt/emqx/log
    networks:
      - windfarm_net

  mongo:
    image: mongo:latest
    container_name: mongo_windfarm
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - windfarm_net

  simulator:
    build:
      context: .
      dockerfile: python.Dockerfile
    container_name: windfarm_simulator
    command: python -m TurbineTelemetry.main
    depends_on:
      - emqx
    environment:
      - MQTT_BROKER_HOST=emqx
    networks:
      - windfarm_net

  statnode:
    build:
      context: ./StatNode
      dockerfile: Dockerfile
    container_name: windfarm_statnode
    depends_on:
      - emqx
      - mongo
    environment:
      - MQTT_BROKER_HOST=emqx
      - MONGO_URI=mongodb://mongo:27017
      - FLASK_APP=API.server
      - FLASK_ENV=development
    ports:
      - "5000:5000" # API Flask
    networks:
      - windfarm_net
    env_file:
      - ./StatNode/.env

  frontend_debugger:
    build:
      context: ./FrontendNode
      dockerfile: Dockerfile
    container_name: windfarm_frontend_debugger
    ports:
      - "8080:8080"
    networks:
      - windfarm_net

networks:
  windfarm_net:
    driver: bridge

# 3. Definición de todos los volúmenes nombrados
volumes:
  mongo_data:
  emqx_data: {}
  emqx_log: {}
  