services:
  emqx:
    image: emqx/emqx:5.7.2
    container_name: emqx_windfarm
    restart: unless-stopped
    ports:
      - "1883:1883"     # MQTT (sin TLS)
      - "8883:8883"     # MQTT (TLS)
      - "8083:8083"     # MQTT sobre WebSocket (sin TLS)
      - "8084:8084"     # MQTT sobre WebSocket (TLS)
      - "18083:18083"   # Dashboard web
    volumes:
       - ./EMQX/data:/opt/emqx/data
    networks:
      - windfarm_net

  auth_node:
    build: 
      context: .   # carpeta base del proyecto Flask
      dockerfile: ./AuthNode/Dockerfile
    container_name: flask_api_auth
    ports:
      - "5001:5001" 
    environment:
      - JWT_SECRET=testing_secret_key
      - JWT_ALGORITHM=HS256
      - JWT_TTL=3600
      - DEFAULT_SEED_PASSWORD=MiPassComun123
      - MONGO_URI=mongodb://mongo_auth:27017 # nombre contenedor 
      - MONGO_DB_NAME=test_db 
      - CLEAN_DB_ON_STARTUP=true # limpiar bd al inicio para ejecutar seeds
    depends_on:
      - mongo_auth
    networks:
      - windfarm_net

#------------------------------------Nodos Mongo back---------------------------------#        
  mongo_windfarm:
    image: mongo:latest
    container_name: mongo_windfarm
    ports:
      - "27017:27017"
    volumes:
      - ./mongoFiles:/docker-entrypoint-initdb.d
      - mongo_data:/data/db
    networks:
      - windfarm_net

  mongo_windfarm_replica:
    image: mongo:latest
    container_name: mongo_windfarm_replica
    ports:
      - "27018:27017" # Puerto diferente en el host
    volumes:
      - ./mongoFiles:/docker-entrypoint-initdb.d
      - mongo_data_replica:/data/db # Volumen de datos separado
    networks:
      - windfarm_net

#------------------------------------Nodo Mongo auth---------------------------------#

  mongo_auth:
    image: mongo:latest
    container_name: mongo_auth
    ports:
      - "28000:27017"
    volumes:
      - mongo_data_auth:/data/db
    networks:
      - windfarm_net

#------------------------------------Nodos Stats---------------------------------#

  statnode:
    build:
      context: .                     # raíz del repo
      dockerfile: ./StatNode/Dockerfile
    container_name: windfarm_statnode
    depends_on:
      - emqx
      - mongo_windfarm
    environment:
      - MQTT_BROKER_HOST=emqx
      - MONGO_URIS=mongodb://mongo_windfarm:27017,mongodb://mongo_windfarm_replica:27017
      - STATNODE_ROLE=primary # <-- ROL PRIMARIO
      - FLASK_INTERNAL_PORT=5000
      - EMQX_API_URL=http://emqx:18083
      - EMQX_API_USER=admin
      - EMQX_API_PASSWORD=public
    env_file:
      - ./StatNode/.env
    ports:
      - "5000:5000"
    networks:
      - windfarm_net

#Configuracion de nodo replica. Por el momento, mismo accionar
  statnode_replica:
    build:
      context: .                     # Misma raíz del repo
      dockerfile: ./StatNode/Dockerfile # Mismo Dockerfile
    container_name: windfarm_statnode_replica # Nuevo nombre de contenedor
    depends_on:
      - emqx
      - mongo_windfarm
    environment:
      - MQTT_BROKER_HOST=emqx
      - MONGO_URIS=mongodb://mongo_windfarm:27017,mongodb://mongo_windfarm_replica:27017
      - STATNODE_ROLE=replica # <-- ROL DE RÉPLICA
      - FLASK_INTERNAL_PORT=5000
      - EMQX_API_URL=http://emqx:18083
      - EMQX_API_USER=admin
      - EMQX_API_PASSWORD=public
    env_file:
      - ./StatNode/.env
    ports:
      - "5002:5000" # Puerto diferente en el host (5001 está en uso)
    networks:
      - windfarm_net

#------------------------------------Nodo simulacion---------------------------------#

  simulator:
    build:
      context: .
      dockerfile: python.Dockerfile
    container_name: windfarm_simulator
    command: python -m TurbineTelemetry.main
    depends_on:
      - emqx
    environment:
      # El host del broker es el nombre del servicio 'emqx'
      - MQTT_BROKER_HOST=emqx
    networks:
      - windfarm_net

  frontend_debugger:
    build:
      context: ./FrontendNode
      dockerfile: Dockerfile
    container_name: windfarm_frontend_debugger
    ports:
      - "8080:8080"
    networks:
      - windfarm_net

networks:
  windfarm_net:
    driver: bridge

volumes:
  mongo_data:
  mongo_data_auth:
  mongo_data_replica:


### -------------


# frontend_debugger:
  #   build:
  #     context: ./FrontendNode # Apuntamos al directorio del frontend
  #     dockerfile: Dockerfile # Asumimos/creamos un Dockerfile aquí
  #   container_name: windfarm_frontend_debugger
  #   # El comando ahora instala dependencias y corre el dev server
  #   command: sh -c "npm install && npm run dev"
  #   ports:
  #     - "8080:8080" # Exponemos el puerto 8080 definido en vite.config.ts
  #   networks:
  #     - windfarm_net